:root{

    --cor-fundo1:#383D58;
    --cor--fundo2:#AA29E8;
    --cor--fundo3:#D9D9D9;
    --cor--fundo4:#000000
}
.cabecalho{
    background-color: var(--cor-fundo1);
    color: var(--cor--fundo3);
display: flex;
}
.iamgem-cabecalho{
    width: 50%;
}